/* Golbal */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 8px;
  font-family: "SF Pro Display", sans-serif;
  min-width: 480px;
}

body {
  overflow: scroll;
}

a {
  display: block;
  text-decoration: none;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}

/* Header */

header {
  position: fixed;
  top: 0;
  z-index: 1400;
  width: 100%;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(2rem);
}
.ai-picker {
  background-color: #f5f5f7;
}
.ai-picker .nav-link {
  color: black;
}
.ai-picker .nav-link-apple {
  background: url(img/apple-black.svg) center no-repeat;
}
.ai-picker .nav-link-search {
  background: url(img/search-black.svg) center no-repeat;
  width: 5rem;
}

.ai-picker-selection {
  position: sticky;
  height: 13rem;
  top: 4.4rem;
  background-color: #f5f5f7;
  backdrop-filter: blur(2rem);
  justify-content: center;
  border-color: #f5f5f7 solid 1px;
}

.ai-picker-selection:nth-child(2) {
  top: 25rem;
}
.ai-picker-selection .title {
  margin-top: 0;
}
.ai-picker-selection .title-sub-heading {
  text-align: center;
}
.round-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ai-hero {
  margin-top: 4.4rem;
  margin-bottom: 0.8rem;
  border-radius: 20px;
  height: 57rem !important;
  background-color: #f5f5f7 !important;
}
.hero-1 {
  background: url(img/rng-hero-0.jpeg) center no-repeat !important;
}

.hero-2 {
  background: url(img/rng-hero-8.jpg) center no-repeat !important;
  margin-top: 0.6rem;
  background-color: #f5f5f7 !important;
}
.hero-3 {
  background: url(img/rng-hero-6.jpg) center no-repeat !important;
  margin-top: 0.6rem;
  background-color: #f5f5f7 !important;
}
.hero-4 {
  background: url(img/rng-hero-14.jpg) center no-repeat !important;
  margin-top: 0.6rem;
  background-color: #f5f5f7 !important;
}
.no-wrap {
  white-space: nowrap;
}
.storage-gb {
  font-size: 1.42rem;
}
.final-buy {
  color: white;
  align-items: center;
}

/* Search Container*/
.search-container.hide {
  opacity: 0;
  pointer-events: none;
}
.search-container {
  width: 98rem;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  color: rgba(255, 255, 255, 0.1);
}

.search-container .nav-link-search {
  position: absolute;
  left: 12px;
  opacity: 0.5;
}
.link-close {
  background: url("img/close-icon.svg");
  display: block;
  background-position: center;
  width: 2rem;
  height: 4.4rem;
  background-repeat: no-repeat;
}
.search-container .link-close {
  position: absolute;
  top: 0;
  right: 12px;
  opacity: 0.5;
  cursor: pointer;
  transition: all 400ms;
}
.search-container .link-close:hover {
  opacity: 0.7;
}
.search-container form {
  width: 100%;
  margin: 0 auto;
  left: 3000px !important;
}
.search-container form input {
  width: 100%;
  height: 4.4rem;
  border: 0;
  outline: none;
  background: transparent;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.7rem;
  margin-left: 35px;
}
.white.search-container form input {
  margin-left: 50px;
  caret-color: black;
}
.white.search-container .link-close {
  filter: brightness(0);
}
/* Overlay */
.overlay.show {
  position: fixed;
  background: rgba(0, 0, 0, 0.48);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 4.4rem;
  z-index: 100;
}
.overlay {
  transition: all 400ms ease;
}

/* Quick Links */

.search-container .quick-links {
  background: #181818;
  position: absolute;
  left: 0;
  right: 0;
  padding: 16px 8px;
  border-radius: 0 0 16px 16px;
}
.white.search-container .quick-links {
  background: #f5f5f7;
}

.search-container .quick-links h2 {
  text-transform: uppercase;
  font-size: 12px;
  color: #cececf;
  margin: 0 32px;
  margin-top: 10px;
}
.white.search-container .quick-links h2 {
  color: black;
}

.search-container .quick-links ul {
  list-style: none;
  margin-top: 12px;
}

.search-container .quick-links ul li a {
  display: inline-block;
  width: 100%;
  padding: 8px 50px;
  font-size: 1.7rem;
  color: #cececf;
  text-decoration: none;
  font-weight: 400;
}
.white.search-container .quick-links ul li a {
  color: #000;
}

.search-container .quick-links ul li a:hover {
  color: white;
}
.white.search-container .quick-links ul li a:hover {
  color: black;
  opacity: 70%;
}

/* Desktop nav animations */
.nav-list.hide li {
  opacity: 0;
  pointer-events: none;
}

.nav-link-iphone {
  width: auto;
  height: 6rem;
  background: url(img/iphone-outline.svg) center no-repeat;
  opacity: 20%;
}
.nav-link-mac {
  width: auto;
  height: 6rem;
  background: url(img/mac-outline.svg) center no-repeat;
  opacity: 20%;
}

.nav-link-ipad {
  width: auto;
  height: 6rem;
  background: url(img/ipad-outline.svg) center no-repeat;
  opacity: 20%;
}

.nav-link-opacity-iphone,
.nav-link-opacity-mac,
.nav-link-opacity-ipad {
  opacity: 30%;
}
.nav-link-opacity-iphone.black,
.nav-link-opacity-mac.black,
.nav-link-opacity-ipad.black {
  opacity: 100%;
  transition: 0s;
}

.ai-picker-selection .nav-item {
  width: 15rem;
  text-align: center;
  font-size: 10px;
  margin-top: 0;
}
.nav-item.hide {
  opacity: 0;
  pointer-events: none;
}
.nav-link-iphone.black,
.nav-link-mac.black,
.nav-link-ipad.black {
  opacity: 100%;
}

.ai-picker-selection .container {
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 2.2rem;
}
.ai-picker-selection a {
  color: black;
}

.prompt-grey {
  color: #86868b;
}

.position-modifier-1 {
  top: 4.4rem;
  height: 12rem;
}
.position-modifier-2 {
  top: 4.4rem;
}
.spacer {
  display: block;
  height: 8rem;
  background-color: #f5f5f7;
}
.margin {
  margin-top: 1rem;
}
.storage-selection-button {
  background-color: none;
  color: black;
  padding: 10px 20px;
  border: black 1px solid;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
}

.storage-selection-button:hover {
  background-color: black;
  color: white;
}
.storage-64GB.black,
.storage-128GB.black,
.storage-256GB.black,
.storage-512GB.black,
.storage-1TB.black {
  background-color: black;
  color: white;
}

.preowned.black,
.notPreowned.black {
  background-color: black;
  color: white;
}

.budget1.black,
.budget2.black,
.budget3.black,
.budget4.black {
  background-color: black;
  color: white;
}
.flat-bottom {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.for-you {
  bottom: 0px !important;
}
.apple-ai {
  position: fixed;
  bottom: 10px;
  right: 15px;
  z-index: 1400;
  width: 100%;
  height: 8rem;
  background: url(img/apple-intellegence.png) no-repeat right;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0, -1rem;
}

.nav-list-mobile {
  display: none;
}
.nav-link {
  font-size: 1.4rem;
  color: white;
  padding: 0 0rem;
  transition: opacity 0.5s;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-link-apple {
  width: 2rem;
  height: 4.4rem;
  background: url(img/apple.svg) center no-repeat;
}

.nav-link-search {
  width: 2rem;
  height: 4.4rem;
  background: url(img/search.svg) center no-repeat;
}

.iphone-16-pro {
  background: url(img/hero_iphone16pro_largetall.jpg);
  margin-top: 4.4rem;
}

/* iPhone 11 pro section */

.title {
  color: white;
  text-align: center;
  padding-top: 5.5rem;
}

.title-heading {
  font-size: 5.6rem;
  line-height: 1.07143;
  letter-spacing: 0.005rem;
}

.title-sub-heading {
  font-size: 2.65rem;
  margin-top: 0.6rem;
  letter-spacing: 0.008rem;
  font-weight: 400;
}

.title-price {
  font-size: 1.7rem;
  color: #888;
  margin-top: 0.68rem;
}
.learn-more-button-white {
  background-color: #f5f5f7;
  color: black;
  padding: 10px 20px;
  border: #f5f5f7 1px solid;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
}

.learn-more-button-blue {
  background-color: #0071e3;
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
}
.learn-more-button-blue:hover {
  background-color: #0078f1;
}

.buy-button-white {
  background-color: none;
  color: white;
  padding: 10px 20px;
  border: white 1px solid;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
}
.buy-button-white:hover {
  background-color: white;
  color: black;
}

.buy-button-blue {
  background-color: none;
  color: #0071e3;
  padding: 10px 20px;
  border: #0071e3 1px solid;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  height: fit-content;
}
.buy-button-blue:hover {
  background-color: #0078f1;
  border: #0078f1 1px solid;
  color: white;
}

.cta {
  text-align: center;
  margin-top: 1.8rem;
}

.cta-link {
  font-size: 2.1rem;
  display: inline-block;
}

.cta-link:nth-child(2) {
  margin-left: 2.6rem;
}

/* iPhone 11 section */

.iphone-16 {
  background: url(img/hero_iphone16_largetall.jpg);
}

.title-dark {
  color: black;
}

/* Watch section */
.watch {
  background: url(img/hero_logo_apple_watch_series_10_largetall.png) center
    no-repeat;
}
.title-heading-watch {
  height: 7.8rem;
  background: url(img/hero_logo_apple_watch_series_10_largetall.png) center
    no-repeat;
  background-size: auto 7.8rem;
  margin-top: 1.6rem;
}

/* Moved to the bottom of all section styles to keep consistent styles */
.hero {
  height: 73rem;
  background-size: auto 73.6rem;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 0.6rem solid white;
  border-bottom: 0.6rem solid white;
}

.iphone-16-pro {
  border-top: none;
}

/* END */
@media screen and (min-width: 1100px) {
  .watch {
    background: url(img/hero_apple_watch_series_10_largetall.jpg) no-repeat
      center;
  }
  .mobile-show {
    display: none;
  }
}

@media screen and (max-width: 1068px) {
  .iphone-16-pro {
    background: url(img/hero_iphone16pro_largetall.jpg);
  }

  .iphone-16 {
    background: url(img/hero_iphone16_largetall.jpg);
  }

  .watch {
    background: url(img/hero_apple_watch_series_10_largetall.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .hero {
    height: 65rem;
    background-size: auto 69.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .title-heading {
    font-size: 4.4rem;
  }

  .title-sub-heading {
    font-size: 2.4rem;
  }

  .cta-link:nth-child(2) {
    margin-left: 2rem;
  }

  .mobile-show {
    display: none;
  }
  .title-heading-watch {
    height: 6.2rem;
    background: url(img/hero_logo_apple_watch_series_10_largetall.png) center
      no-repeat;
    background-size: auto 6.2rem;
  }
  .ai-picker .nav-link-apple {
    background: url(img/apple-black.svg) right no-repeat;
  }
  .ai-picker-selection {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .hero-1 {
    background-size: auto 67rem !important;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 4.8rem;
    transition: background-color 0.36s cubic-bezier(0.32, 0.08, 0.24, 1),
      height 0.56s cubic-bezier(0.32, 0.08, 0.24, 1);
  }

  header .container {
    padding: 0;
  }

  .iphone-11-pro {
    margin-top: 4.8rem;
  }

  .nav-list {
    margin: 0;
  }

  .nav-list-mobile {
    display: flex;
  }

  .nav-item {
    width: 4.8rem;
    height: 4.8rem;
    display: block;
    white-space: nowrap;
    justify-content: center;
  }

  .nav-item-hidden {
    display: none;
  }

  .mobile-menu {
    position: relative;
    z-index: 1500;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .line {
    position: relative;
    width: 1.7rem;
    height: 1px;
    background-color: white;
    transition: margin-top 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96);
  }

  .line-top {
    margin: 7px;
  }

  .line-bottom {
    margin-top: -0.4rem;
  }

  .active .line-top {
    margin-top: 0;
    /* transform: rotate(45deg);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96); */
  }

  .active .line-bottom {
    margin-top: 0;
    /* transform: rotate(-45deg);
    transition: transform 0.3192s 0.1s cubic-bezier(0.04, 0.04, 0.12, 0.96); */
  }

  header.active {
    height: 100%;
    background-color: black;
  }

  .nav-link-apple {
    width: 1.8rem;
    height: 4.8rem;
    position: relative;
    z-index: 1500;
  }

  .nav-link-bag {
    width: 1.6rem;
    height: 4.8rem;
    transition: opacity 3s;
  }

  .nav {
    position: relative;
  }

  .nav-link {
    font-size: 1.7rem;
    padding: 0;
    margin: auto 0;
    width: auto;
  }

  .nav-list-larger {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: block;
    padding: 10.5rem 10rem;
    z-index: 1000;
    box-sizing: border-box;
    opacity: 1;
    visibility: hidden;
    transition: opacity 0.3s;
  }

  .active .nav-list-larger {
    width: 100%;
    height: 100vh;
    opacity: 1;
    visibility: visible;
  }

  .active .nav-link-bag {
    opacity: 0;
    transition: opacity 0.3s;
  }

  .nav-list-larger .nav-item {
    width: 100%;
    justify-content: flex-start;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }

  .nav-list-larger,
  .nav-item:nth-child(9) {
    border-bottom: none;
  }

  .active .nav-list-larger .nav-item {
    animation: fadeIn 1s ease-in;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .gridded-hero {
    grid-template-columns: repeat(auto-fit, 100%) !important;
    grid-template-rows: repeat(auto-fit, 73rem) !important;
    height: 295rem;
  }
  .macbook-air,
  .macbook-pro,
  .ipad-air,
  .ipad-pro {
    grid-area: unset !important;
  }
  .mobile-show {
    display: unset;
  }
  .mobile-hide {
    display: none;
  }
}

@media screen and (max-width: 735px) {
  .iphone-16-pro {
    background: url(img/hero_iphone16pro_largetall.jpg);
  }

  .iphone-16 {
    background: url(img/hero_iphone16_largetall.jpg);
  }

  .watch {
    background: url(img/hero_apple_watch_series_10_largetall.jpg);
  }

  .hero {
    height: 50rem;
    background-size: auto 54.8rem;
    background-position: bottom center;
    background-repeat: no-repeat;
  }

  .title {
    padding-top: 3.7rem;
  }

  .title-heading {
    font-size: 3.2rem;
  }

  .title-sub-heading {
    font-size: 1.9rem;
  }

  .title-heading-watch {
    margin-top: -0.5rem;
    margin-bottom: 0;
  }

  .title-price {
    font-size: 1.4rem;
  }

  .cta {
    margin-top: 0.7rem;
  }

  .cta-link {
    font-size: 1.9rem;
  }
}

.gridded-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 73rem);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.macbook-air {
  background: url(img/promo_macbook_air_m3_large.jpg) center no-repeat;
  margin-top: 0rem;
}
.macbook-pro {
  background: url(img/promo_macbookpro_announce_large.jpg) center no-repeat;
  margin-top: 0;
}
.ipad-air {
  background: url(img/promo_ipadair_large.jpg) center no-repeat;
  margin-top: 0px;
}
.title-heading-ipad-air {
  height: 5rem;
  background: url(img/promo_logo_ipadair_large.png) center no-repeat;
  background-size: auto 3.5rem;
  margin-top: 0px;
}
.ipad-pro {
  grid-area: 2 / 2 / 3 / 3;
  background: url(img/promo_ipadpro_large.jpg) center no-repeat;
  margin-top: 0;
}

.footer-styles {
  font-size: 12px;
  background-color: #f5f5f7;
  color: #6c6c6c;
  width: 100%;
  justify-self: center;
  align-self: center;
}
footer .container {
  max-width: 120rem;
}

.gridded-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

footer a {
  display: inline;
}
footer a:hover {
  text-decoration: underline;
}
footer a:visited {
  color: #6c6c6c;
}
footer h4 {
  color: black;
}
footer hr {
  color: #cececf;
}
.blue {
  color: #0066cc !important;
  text-decoration: underline;
}

.explore {
  grid-area: 1 / 1 / 2 / 2;
}
.account {
  grid-area: 1 / 2 / 2 / 3;
}
.business-education {
  grid-area: 1 / 3 / 2 / 4;
}
.values-about {
  grid-area: 1 / 4 / 2 / 5;
}
.align-left {
  text-align: left;
}
.align-right {
  justify-self: right;
}

details {
  margin-left: 20px;
}

summary {
  margin-left: -10px;
}

footer p {
  margin-left: 10px;
}
